# Byte-compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Build and distribution
build/
dist/
*.egg
*.egg-info/
.eggs/

# Managed directory with build artifacts and temp files
.forge/

# Mac OS stuff
.DS_Store

# Virtual environment
.venv/

# Claude
.claude/
