version: '3.8'
services:
{% for comp in components %}
  {{ comp.name }}:
    image: {{ comp.image }}
    network_mode: host
    restart: unless-stopped

    {%- if comp.comp_src -%}
    volumes:
      - "{{ mount_root }}/{{ comp.name }}/ros_ws/install:/ros_ws/install:ro"
    {%- endif %}

    environment:
      - ROS_DOMAIN_ID={{ ros_domain_id }}
      - ROS_DISTRO={{ ros_distro }}

    command: >
      bash -lc "\
        # always source core ROS
        source /opt/ros/{{ ros_distro }}/setup.bash && \

        {%- if comp.has_repos -%}
        source /vcs_ws/install/setup.bash && \
        {%- endif -%}
        {%- if comp.comp_src -%}
        source /ros_ws/install/setup.bash && \
        {%- endif -%}
        {{ comp.entrypoint }} {{ comp.launch_args }}
      "
{% endfor %}
