version: '3.8'
services:

{% if enable_dds_router %}
  dds_router:
    image: dragomirxyz/fastdds_server:latest
    container_name: dds_router
    network_mode: host
    restart: unless-stopped
    environment:
      - ROS_DOMAIN_ID=0
      - ROS_DISCOVERY_SERVER={{ discovery_server }}
{% endif %}


{% for comp in components %}
  {{ comp.name }}:
    image: {{ comp.image }}
    network_mode: host

    {% if comp.comp_src %}
    volumes:
      - "{{ mount_root }}/{{ comp.name }}/ros_ws:/ros_ws:rw"
    {% endif %}

    {% if comp.devices %}
    devices:
        {% for dev in comp.devices %}
        - "{{ dev }}"
        {% endfor %}
    cap_add:
        - SYS_RAWIO
        - NET_ADMIN
  {% endif %}

    {% if comp.ports %}
    ports:
      {% for port in comp.ports %}
      - "{{ port }}"
        {% endfor %}
    {% endif %}

    environment:
      - ROS_DOMAIN_ID={{ ros_domain_id }}
      - ROS_DISTRO={{ ros_distro }}
      - ROS_DISCOVERY_SERVER={{ discovery_server }}

    command: >
      bash -lc "\
        # always source core ROS
        source /opt/ros/{{ ros_distro }}/setup.bash && \

        {%- if comp.has_repos -%}
        source /vcs_ws/install/setup.bash && \
        {%- endif -%}
        {%- if comp.comp_src -%}
        source /ros_ws/install/setup.bash && \
        {%- endif -%}
        {{ comp.entrypoint }} {{ comp.launch_args }}
      "
{% endfor %}


{% if dds_manager %}
  dds_server:
    image: {{ cfg.registry }}/robocore-{{ cfg.ros_distro }}
    container_name: dds_server
    network_mode: host
    environment:
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
    command: >
      bash -lc "
        source /opt/ros/{{ cfg.ros_distro }}/setup.bash &&
        fastdds discovery -i 0 -l {{ dds_manager.ip }} -p 11811
      "
{% endif %}