<?xml version="1.0" encoding="UTF-8" ?>
<dds>
  <profiles xmlns="http://www.eprosima.com/XMLSchemas/fastRTPS_Profiles">
    <participant profile_name="{{ component_name }}_profile" is_default_profile="true">
      <rtps>
        <name>{{ component_name }}</name>
        <participantID>{{ participantID }}</participantID>
        <defaultUnicastLocatorList>
          <locator>
            <udpv4>
              <address>{{ this_host_ip }}</address>
            </udpv4>
          </locator>
        </defaultUnicastLocatorList>
        <external>
          <locator>
            <udpv4>
              <address>{{ this_host_ip }}</address>
            </udpv4>
          </locator>
        </external>
        <builtin>
          <discovery_config>
            <discoveryProtocol>SUPER_CLIENT</discoveryProtocol>
            <discoveryServersList>
              <RemoteServer prefix="44.53.00.5F.45.50.52.4F.53.49.4D.41">
                <metatrafficUnicastLocatorList>
                  <locator>
                    <udpv4>
                      <address>{{ dds_server_host_ip }}</address>
                      <port>11811</port>
                    </udpv4>
                  </locator>
                </metatrafficUnicastLocatorList>
              </RemoteServer>
            </discoveryServersList>
          </discovery_config>
        </builtin>
      </rtps>
    </participant>
  </profiles>
</dds>
